@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
   
}

@media (max-width: 600px) {
    .container {
        display: block;
    }
}

@media (min-width: 601px) {
    .container {
        display: flex;
    }
}

body {
    margin: 3vh;
    background-color: #fdf7f7a6;
}

.top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3vh;
}

.top i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vh;
    height: 6vh;
    color: #333333;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
}
.special-h1{
    color: #761CBC;
    padding-bottom: 3vh;
}

h1{
    color: black;
}

.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #3b3939;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
}

.icon-button:hover {
    cursor: pointer;
}

.icon-button:active {
    background: #cccccc;
}

.icon-button__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    background: rgb(255, 0, 0);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icons{
    color: rgb(75, 75, 75);
}

.grid :nth-child(1){

    padding: 9px 0px 0px 10px;
    height: 5vh;
    width: 10vw;
}

.grid :nth-child(2){
    
    height: 5vh;
    padding: 2px 0px 0px 0px;
    font-size: 1rem;
}

.grid :nth-child(3){

    padding: 9px 4px 0px 5px;
}

.search-container{
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns:  1fr 9fr 1fr;
    background-color: white;
    padding: 1.5vh;
    border-radius: 10px;
}

.input-search{
    border: none;
    padding-bottom: 4vh; 
}

.input-search:focus{
    color: #761CBC;
    padding: 2vh;
    border-color: blue;
    box-shadow: none;
    outline: 3px solid #6659599d;
    border-radius: 2px;

}

nav{
    margin-top: 2vh;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 1000;
}
nav ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
nav li{
    flex: 0 0 auto;
    margin-right: 3vw;
    margin-bottom: 5vh;
}
nav a{
    text-decoration:none;
    padding: 1.5vh;
    color: black;
    display: inline-block;
    font-size: 0.8rem;
}

nav li:nth-child(1){
    background-color: #e6e0fd;
    border-radius: 10px;

}
nav li:nth-child(2){
    background-color: #fdffdc;
    border-radius: 10px;
}
nav li:nth-child(3){
    background-color: #ffecdc;
    border-radius: 10px;
}
nav li:nth-child(4){
    background-color: #ddffdc;
    border-radius: 10px;
}
nav li:nth-child(5){
    background-color: #e0dcff;
    border-radius: 10px;
}
nav li:nth-child(6){
    background-color: #ddffdc;
    border-radius: 10px;
}
nav a:hover{
    background-color: #0008506e;
    border-radius: 10px;
    
}

#trending-events{
    position: relative;
    background-color: transparent;
}
.top-trending{
    display: flex;
    justify-content: space-between;
    padding-right: 2vh; ;
    text-decoration: none;
    background-color: transparent;
   
}
.top-trending a{
    text-decoration: none;
    color: rgb(78, 78, 78);
}

.info-event{
    backdrop-filter: blur(15px);
    position: absolute;
    bottom:  10vh;
    margin-left: 2vh;
    width: 46vh;    
    padding: 10px;
    font-size: 0.8rem;
    color: white;
    background-color: transparent;
    border-radius: 15px;

}

.carousel {
    margin-top: 3vh;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    

    &>.carousel-item {
        flex: 1;
        flex-grow: 1;
        width: 100%;
        height: 38vh;
        max-width: 100%;
        object-fit: cover;
        margin: 0 4px;
    }
}

.carousel img{
    width: 50vh;
    height: 30vh;
    border-radius: 20px;
}

